
body{
    background-color: #eef0ef;
    font-family: "Montserrat", sans-serif; margin: 0;
}

header{
        background-color: white;
        width: 100%;
        box-shadow: 0px 0px 15px #515151;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
}
#logo a{
        text-decoration:none; 
        color:black;
    }
#logo{
    font-size: 33px;
 letter-spacing: 0px;
       
}
 span{
    color: #009688;
    letter-spacing: 1px;
    font-weight: 1000;
}
